# This is a basic deployment workflow triggered by pushes to the alpha branch.

name: Auto-Deploy

# Controls when the action will run. Workflow runs when the alpha branch receives a push event
on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Manually Run Workflow"
  push:
    branches:
      - alpha

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  downloadcode:
    runs-on: self-hosted
    steps:
      - shell: bash
        run: |
          rm -Rf ./coriolis
          rm -Rf ./coriolis-data
          git clone https://github.com/alex-williams/coriolis.git --single-branch --branch alpha
          git clone https://github.com/alex-williams/coriolis-data.git --single-branch --branch alpha
          cd coriolis-data
          npm install
          npm start
          cd ../coriolis
          npm install
          npm run build
          sudo -u www-data cp -r ./build/* /var/www/newdisk/coriolis.brighter-applications.co.uk/